<!DOCTYPE html>
<html>
  <head>
    <title>PerfectRails</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class='navbar bg-light' role='navigation'>
      <div class='container'>
        <div class='navbar-header'>
        <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
          <%= link_to 'AwesomeEvents', root_path, class: 'navbar-brand' %>
        </div>        
        <ul class='nav navbar-nacv navbar-right'>
          <% if logged_in? %>
            <li><%= link_to 'ログアウト', logout_path %></li>
          <% else %>
            <li><%= link_to 'Twitterでログイン', '/auth/twitter' %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <div class='container'>
      <% if flash[:notice] %>
        <div class='alert alert-success'>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
